/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "compass/layout/stretching";

#images {
  ul li { 
    display: inline-block; 
    width: 200px; 
    height: 200px; 
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #999999;
    img {
      margin: auto;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

#enableRefresh { display: inline-block; width: 100%; }

body {
  //@extend .boxed-layout;
  #container { width: 100%; }
}

#main {
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);
  width: 100%;
  aside, #images {
    min-width: 100px;
  }
  #images {
    @include box-flex(4);
  }
  aside {
    @include box-flex(1);
  }
}

#enableRefresh { 
  /* @include stretch; 
*/}

@media screen and (min-width: 800px) {
  body.box-fluid {
  /*  #images { @include liquid(2); }
*/}
}

@media screen and (min-width: 1000px) {
  body.box-fluid {
    /* #images { @include liquid(3); }
*/}
}

@media screen and (min-width: 1200px) {
  body.box-fluid {
   /* #images { @include liquid(4); }
  */
}
}

footer { min-height:100px; } 
aside { min-height:300px; }
#nav { min-height:300px; } 


