/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 11, ../sass/screen.scss */
.boxed-layout, body {
  text-align: center;
}
/* line 41, ../sass/layout/_box.scss */
.boxed-layout > *, body > * {
  text-align: left;
}
/* line 44, ../sass/layout/_box.scss */
.boxed-layout > #container, body > #container {
  margin-left: auto;
  margin-right: auto;
}
/* line 13, ../sass/screen.scss */
.boxed-layout #container, body #container {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
}
/* line 14, ../sass/screen.scss */
.boxed-layout #main, body #main {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
}
/* line 15, ../sass/screen.scss */
.boxed-layout aside, body aside, .boxed-layout #images, body #images {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}

/* line 19, ../sass/screen.scss */
#images ul li {
  display: inline-block;
}

/* line 24, ../sass/screen.scss */
body #container {
  width: 100%;
}

/* line 26, ../sass/screen.scss */
#enableRefresh {
  /* @include stretch; 
*/
}

@media screen and (min-width: 800px) {
  /* line 32, ../sass/screen.scss */
  body.box-fluid #images {
    -moz-box-flex: 2;
    -webkit-box-flex: 2;
    box-flex: 2;
  }
}
@media screen and (min-width: 1000px) {
  /* line 38, ../sass/screen.scss */
  body.box-fluid #images {
    -moz-box-flex: 3;
    -webkit-box-flex: 3;
    box-flex: 3;
  }
}
@media screen and (min-width: 1200px) {
  /* line 44, ../sass/screen.scss */
  body.box-fluid #images {
    -moz-box-flex: 4;
    -webkit-box-flex: 4;
    box-flex: 4;
  }
}
/* line 48, ../sass/screen.scss */
footer {
  min-height: 100px;
  background-color: #990000;
}

/* line 49, ../sass/screen.scss */
aside {
  min-height: 300px;
  background-color: #009900;
  width: 250px;
}

/* line 50, ../sass/screen.scss */
#nav {
  min-height: 300px;
  background-color: #000099;
}
